<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>تسجيل الدخول</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h2>تسجيل الدخول</h2>

<form method="post">
    {% csrf_token %}

    <label>اسم المستخدم</label><br>
    <input type="text" name="username" required><br><br>

    <label>كلمة المرور</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">دخول</button>
</form>

{% for message in messages %}
    <p style="color:red">{{ message }}</p>
{% endfor %}

</body>
</html>
